
Basics/verilog/Assignments/db/

Basics/verilog/Counter/db/

Basics/verilog/Counter/incremental_db/

Basics/verilog/Counter/output_files/

*.bak

Basics/verilog/Counter/simulation/modelsim/rtl_work/

Basics/verilog/Counter/simulation/modelsim/work/

Basics/verilog/Labs/SyncAutomates/example_automates/milley_automate/db/

Basics/verilog/Labs/SyncAutomates/example_automates/milley_automate/incremental_db/

Basics/verilog/Labs/SyncAutomates/example_automates/milley_automate/output_files/
